html {
  background-image: url(../images/Grand_Canyon_3.jpeg);
  height: 100%;
  background-position: center;
  background-size: cover;
}

#navLink {
  // text-decoration: none !important;
}

#profileCard {
  margin-top: 100px;
}

#footer {
  margin-top: 100px;
}

#starIcon {
  color: whitesmoke;
}

